<!DOCTYPE html>
<html>

<head>
	<title>Scoreboard</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
	<style>
		.container {
			margin-top: 3em;
		}
		footer {
			position: static;
			margin-top: 3em;
			margin-bottom: 0px;
			color: #AAAAAA
		}
	</style>
</head>

<body>
	<section class="hero is-primary">
		<div class="hero-body">
			<div class="container">
				<h1 class="title">
					台科資安社 | 試煉場
				</h1>
				<h2 class="subtitle">
					NTUSTISC
				</h2>
			</div>
		</div>
	</section>

	<div class="container">

		<div class="columns">
			<!-- Main Section -->
			<div class="column is-four-fifths">

				<!-- Challenges -->
				<nav class="level" id="challenges">
					<div class="level-left">
						<div class="level-item">
							<h1 class="title">
								Challenges
							</h1>
						</div>
					</div>
					<div class="level-right">
						<div class="level-item">
							{% if not key %}
							<form action="login/" method="POST">
								{% csrf_token %}
								<div class="field has-addons">
									<div class="control">
										<input class="input" type="text" name="username" placeholder="Enter Username">
									</div>
									<div class="control">
										<button class="button is-primary">Login</button>
									</div>
								</div>
							</form>
							{% else %}
							<p>Hi, {{username}}! </p>
							{% endif %}
						</div>
					</div>
				</nav>

				<table class="table is-hoverable is-fullwidth">
					<thead>
						<tr>
							<th>Type</th>
							<th>Name</th>
							<th>Solved</th>
							<th>Description</th>
						</tr>
					</thead>
					<tbody>
						{% for challenge in challenge_list %}
						<tr>
							<td>{{ challenge.type }}</td>
							<td>
								{% if challenge.user_solve %}
								<span class="icon has-text-success"><i class="fas fa-check"></i></span>
								{% endif %}{{ challenge.name }}
							</td>
							<td>{{ challenge.solved }}</td>
							<td>
								<pre>{{ challenge.description }}</pre>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				<!-- /Challenges -->

				{% if key %}
				<!-- Submit Flag -->
				<div class="container" id="flag">
					<h1 class="title">
						Submit Flag
					</h1>
					<form id="flag-form">
						{% csrf_token %}
						<div class="field has-addons">
							<div class="control">
								<input id="flag-input" class="input" type="text" name="flag" placeholder="Submit your flag here">
							</div>
							<div class="control">
								<button type="button" id="submit-flag" class="button is-primary">Submit</button>
							</div>
						</div>
					</form>
					<br>
					<div id="flag-notification" class="notification" style="display:none">
						<button class="delete"></button>
						<span class="content"></span>
					</div>
				</div>
				<!-- /Submit Flag -->
				{% endif %}

				<!-- Events -->
				<div class="container" id="events">
					<h1 class="title">
						Events
					</h1>
					<ul>
						{% for submit in submit_list %}
						<li><code>{{ submit.username.username }}</code> solved <code>{{ submit.challenge.name }}</code></li>
						{% endfor %}
					</ul>
				</div>
				<!-- /Events -->
			</div>
			<!-- /Main Section -->

			<!-- Menu Section -->
			<div class="column">
				<aside class="menu">
					<ul class="menu-list">
						<li><a href="#challenges">Challenges</a></li>
						{% if key %}<li><a href="#flag">Submit Flag</a></li>{% endif %}
						<li><a href="#events">Events</a></li>
					</ul>
				</aside>
			</div>
			<!-- /Menu Section -->
		</div>
	</div>
	<footer class="footer">
		<div class="has-text-centered">
			<p>
				NTUSTISC
			</p>
			<a href="https://www.facebook.com/ntust.hacking/" target="_blank">
				<span class="icon">
					<i class="fab fa-facebook"></i>
				</span>
				Facebook
			</a>
		</div>
	</footer>

	<script>
		const close = document.getElementsByClassName('delete');
		for (let i = 0; i < close.length; i++) {
			close[i].onclick = () => {
				close[i].parentElement.style.display = 'none';
			}
		}

		const input = document.getElementById('flag-input');
		input.addEventListener("keydown", function (event) {
			if (event.keyCode === 13) {
				event.preventDefault();
				document.getElementById("submit-flag").click();
			}
		});

		document.getElementById('submit-flag').onclick = () => {
			fetch('./flag/', {
				method: 'POST',
				body: new FormData(document.getElementById('flag-form'))
			})
				.then(r => r.json())
				.then(json => {
					const notification = document.getElementById('flag-notification');
					notification.style.display = 'block';
					if (json.correct) {
						notification.classList.add('is-success');
						notification.classList.remove('is-danger');
					} else {
						notification.classList.add('is-danger');
						notification.classList.remove('is-success');
					}
					notification.lastElementChild.innerHTML = json.message;
				})
		}
	</script>
</body>

</html>