{% load static %}
<!DOCTYPE html>
<html>

<head>
	<title>NTUSTISC | Proving Grounds</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
	<link rel="stylesheet" href="{% static 'style.scoreboard.css' %}">
</head>

<body>
	<section class="hero is-primary">
		<div class="hero-body">
			<div class="container">
				<h1 class="title">
					NTUSTISC | Proving Grounds
				</h1>
				<h2 class="subtitle">
					A platform for training security skills.
				</h2>
			</div>
		</div>
	</section>

	<div class="container">
		<div class="columns">
			<!-- Main Section -->
			<div class="column is-four-fifths">
				{% if messages %}
				{% for message in messages %}
				<div id="notification" class="notification {{message.tags}}">
					<button class="delete"></button>
					<span class="content">{{ message }}</span>
				</div>
				{% endfor %}
				{% endif %}
				<!-- Challenges -->
				<h1 class="title" id="challenges">
					Challenges
					<span class="tags" id="filter-list" style="display:inline"></span>
				</h1>
				<div class="table-container">
					<table class="table is-hoverable is-fullwidth" id="challenges-table">
						<thead>
							<tr>
								<th>Type</th>
								<th>Name</th>
								<th>Solved</th>
								{% if teamed %}<th>Score</th>{% endif %}
								<th>Description</th>
							</tr>
						</thead>
						<tbody>
							{% for challenge in challenge_list %}
							<tr>
								<td>
									<span class="tag is-{{ challenge.type }} type-tag">{{ challenge.type }}</span>
								</td>
								<td>
									{% if challenge.user_solve %}
									<span class="icon has-text-success"><i class="fas fa-check"></i></span>
									{% endif %}{{ challenge.name }}
								</td>
								<td>{{ challenge.solved }}</td>
								{% if teamed %}<td>{{ challenge.score }}</td>{% endif %}
								<td>
									<pre>{{ challenge.description }}</pre>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<!-- /Challenges -->
				{% if logined %}
				<!-- Submit Flag -->
				<h1 class="title" id="flag">
					Submit Flag
				</h1>
				<form id="flag-form" method="POST" action="flag/">
					{% csrf_token %}
					<div class="field has-addons">
						<div class="control is-expanded">
							<input id="flag-input" class="input" type="text" name="flag" placeholder="flag{******}">
						</div>
						<div class="control">
							<button type="submit" id="submit-flag" class="button is-primary">Submit</button>
						</div>
					</div>
				</form>
				<br>
				<!-- /Submit Flag -->
				{% endif %}

				<h1 class="title" id="rank">
					Rank
				</h1>
				<div class="table-container">
					<table class="table is-hoverable is-fullwidth" id="challenges-table">
						<thead>
							<tr>
								<th>#</th>
								{% if not teamed %}
								<th>ID</th>
								<th>Solved</th>
								{% else %}
								<th>TeamID</th>
								<th>Score</th>
								{% endif %}
							</tr>
						</thead>
						<tbody>
							{% for rank in rank_list %}
							<tr>
								<td>{{ forloop.counter }}</td>
								{% if not teamed %}
								<td>{{ rank.username }}</td>
								<td>{{ rank.solved }}</td>
								{% else %}
								<td>{{ rank.teamname }}</td>
								<td>{{ rank.score }}</td>
								{% endif %}
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>

				<!-- Events -->
				<h1 class="title" id="events">
					Events
				</h1>
				<ul>
					{% for submit in submit_list %}
					<li>
						{% if not teamed %}
						<code>{{ submit.username.username }}</code>
						{% else %}
						<code>{{ submit.team.teamname }}</code>
						{% endif %}
						solved
						<code>{{ submit.challenge.name }}</code>
						at
						<code>{{ submit.submit_time }}</code>
					</li>
					{% endfor %}
				</ul>
				<!-- /Events -->

			</div>
			<!-- /Main Section -->

			<!-- Menu Section -->
			<div class="column">
				{% if not logined %}
				<form action="login/" method="POST">
					{% csrf_token %}
					{% if ctfing %}
					<div class="field has-addons">
						<div class="control">
							<input class="input" type="text" name="teamname" placeholder="Enter Teamname">
						</div>
					</div>
					<div class="field has-addons">
						<div class="control">
							<input class="input" type="text" name="token" placeholder="Enter Token">
						</div>
					</div>
					{% endif %}
					<div class="field has-addons">
						<div class="control">
							<input class="input" type="text" name="username" placeholder="Enter Username">
						</div>
						<div class="control">
							<button class="button is-primary">Login</button>
						</div>
					</div>
				</form>
				{% else %}
				{% if not teamed %}
				<!-- User's Information -->
				<div class="card">
					<div class="card-content">
						<p class="title is-4">
							@{{username.username}}
						</p>
						<div class="content has-text-centered">
							<svg viewBox="0 0 36 36" class="circular-chart">
								<path class="circle-bg" d="M18 2.0845
									  a 15.9155 15.9155 0 0 1 0 31.831
									  a 15.9155 15.9155 0 0 1 0 -31.831" />
								<path class="circle" stroke-dasharray="{{solving_rate}}, 100" d="M18 2.0845
											a 15.9155 15.9155 0 0 1 0 31.831
											a 15.9155 15.9155 0 0 1 0 -31.831" />
								<text x="18" y="20.35" class="percentage">{{solving_rate}}%</text>
							</svg>
							<p>Solved: {{username.solved}}/{{challenge_list|length}}</p>
						</div>
						<a href="logout/" class="card-footer-item button is-danger">Logout</a>
					</div>
				</div>
				<!-- /User's Information -->
				{% else %}
				<!-- Team's Information -->
				<div class="card">
					<div class="card-content">
						<p class="title is-4">
							{{username.username}}@{{team.teamname}}
						</p>
						<div class="content has-text-centered">
							<svg viewBox="0 0 36 36" class="circular-chart">
								<path class="circle-bg" d="M18 2.0845
									  a 15.9155 15.9155 0 0 1 0 31.831
									  a 15.9155 15.9155 0 0 1 0 -31.831" />
								<path class="circle" stroke-dasharray="{{solving_rate}}, 100" d="M18 2.0845
											a 15.9155 15.9155 0 0 1 0 31.831
											a 15.9155 15.9155 0 0 1 0 -31.831" />
								<text x="18" y="20.35" class="percentage">{{solving_rate}}%</text>
							</svg>
							Score: {{team.score}} |
							Solved: {{team.solved}}/{{challenge_list|length}}
							<hr>

							<span style="line-height: 35px">
								Token:
								<a id="token" class="button is-white is-small">{{team.token}}</a>
							</span>
							<p id="copied" style="display:none">
								Token Copied!
							</p>
						</div>
						<div class="content has-text-centered">
							Team Members:
							{% for teamuser in teamuser_list %}
							<li>{{ teamuser.username.username }}</li>
							{% endfor %}
						</div>
						<a href="logout/" class="card-footer-item button is-danger">Logout</a>
					</div>
				</div>
				<!-- /Team's Information -->
				{% endif %}
				{% endif %}
				<hr>
				<div class="menu-ref"></div>
				<aside class="menu">
					<ul class="menu-list">
						<li><a href="#challenges">Challenges</a></li>
						{% if logined %}<li><a href="#flag">Submit Flag</a></li>{% endif %}
						<li><a href="#rank">Rank</a></li>
						<li><a href="#events">Events</a></li>
					</ul>
				</aside>
			</div>
			<!-- /Menu Section -->
		</div>
	</div>
	<footer class="footer">
		<div class="has-text-centered">
			<p>
				Copyright © {% now "Y" %} NTUSTISC.
			</p>
			<a href="/" target="_blank">
				<span class="icon">
					<i class="fas fa-home"></i>
				</span>
				Home Page
			</a>
			<a href="https://www.facebook.com/ntust.hacking/" target="_blank">
				<span class="icon">
					<i class="fab fa-facebook"></i>
				</span>
				Facebook
			</a>
			<a href="https://github.com/NTUSTISC" target="_blank">
				<span class="icon">
					<i class="fab fa-github"></i>
				</span>
				Github
			</a>
			<a href="https://www.youtube.com/channel/UC4-PD2BdlYWd807BhJZkjIg" target="_blank">
				<span class="icon">
					<i class="fab fa-youtube"></i>
				</span>
				Youtube
			</a>
		</div>
	</footer>

	<script>
		const token = document.getElementById("token");
		token.onclick = () => {
			document.getElementById("copied").style.display = "block";
			setTimeout(() => document.getElementById("copied").style.display = "none", 1000);

			let tmp = document.createElement("input");
			tmp.setAttribute("value", token.textContent);
			document.body.appendChild(tmp);
			tmp.select();
			document.execCommand("copy");
			document.body.removeChild(tmp);
		}
		const close = document.querySelector('.delete');
		if (close)
			close.onclick = () => close.parentElement.style.display = 'none';


		window.addEventListener('scroll', function () {
			window.requestAnimationFrame(function () {
				const menu_ref = document.querySelector(".menu-ref");
				const menu = document.querySelector("aside");
				if (menu_ref.scrollTop < 1)
					menu.classList.add('is-pinned');
				else
					menu.classList.remove('is-pinned');
			});
		});

		const filter_tags_list = document.getElementById('filter-list');
		const filter_list = new Set();
		const type_tags = document.querySelectorAll('.type-tag');
		type_tags.forEach(tag => {
			tag.addEventListener('click', function () {
				if (!(filter_list.has(tag.innerText))) {
					const filter_tag = tag.cloneNode(true);
					filter_tag.classList.remove('type-tag');
					filter_tag.innerHTML += '<button class="delete is-small"></button>';
					const close = filter_tag.querySelector('.delete');
					close.onclick = () => {
						close.parentElement.style.display = 'none';
						filter_list.delete(close.parentElement.innerText);
						typeFilter();
					}
					filter_tags_list.appendChild(filter_tag);
					filter_list.add(tag.innerText);
					typeFilter();
				}
			});
		})

		function typeFilter() {
			const filter = [...filter_list];
			const table = document.getElementById("challenges-table");
			const tr = table.querySelectorAll("tr");
			for (let i = 0; i < tr.length; i++) {
				const td = tr[i].querySelector("td");
				if (td) {
					if (filter.length == 0 || filter.some(a => td.innerHTML.indexOf(a) > -1)) {
						tr[i].style.display = "";
					} else {
						tr[i].style.display = "none";
					}
				}
			}
		}
	</script>
</body>

</html>